<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"><link rel="shortcut icon" href="../../static/topic/index/static/images/notebook_ico.ico" type="image/x-icon" />
    <title>复盘笔记本 - 每日数据</title>
    <meta name="keywords" content="复盘笔记本,数据可视化，股市量化分析">
    <meta name="description" content="复盘笔记本产品slogan">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" href="../../static/topic/index/static/css/daterangepicker/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/topic/index/static/css/daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="../../static/topic/index/static/css/base.css">
    <link rel="stylesheet" href="../../static/topic/index/static/css/page.css">
       <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
</head>
<body class="oneday">
<div class="placeHeader"></div>
<header>
    <div class="logo"><img src="../../static/topic/index/static/images/notebook.png"><p>复盘笔记本</p><div class="clear"></div></div>
<ul class="menu">
    <li><a href="/topic">建仓or清仓?(大盘异动)</a></li>
    <li class="curMenu"><a href="/topic1">换仓?(短期情绪)</a></li>
    <li><a href="/topic2">辅助工具</a></li>
  <li><a href="/topic/instruction1">使用说明</a></li>
    </ul>
<ul class="account">
    <li><a href="/topic2/user">我的账户</a></li>
 <li><a href="/">退出</a></li>
</ul>
<style>
    .mb2{
	text-align:center;
}
    .submit {
	padding: 6px;
	width:100px;
}
    .time{
    float:right;
    padding-right:20px;
    }
    .text1 {
    padding: 3px;
    border: 1px solid #cdcdcd;
    width: 700px;
}

</style></header>
<section class="contain">
    <aside>
        <ul>
              <li class="menu1"><a href="/topic1">总结</a></li>
        <li class="menu2"><a href="/topic1/admin1">复盘回顾</a></li>
            <li class="menu3"><a href="/topic1/weight1">潜伏日历</a></li>
            <li class="menu4"><a href="/topic1/policy1">其他异动</a></li>
            <li class="menu4 curMenu"><a href="/topic1/height">市场及监管高度</a></li>
        </ul>
    </aside>
    <section class="main" id="main">
        <div class="dateSelect">
            <span>市场及监管高度</span>
        </div>
        <section class="content tab">
            <div class="listThCover"><span></span></div>
            <ul class="list">
                <li class="th">
                     <ul>
                        <li class="td1"><span>幅度</span></li>
                        <li class="td2">&nbsp</li>
                        <li class="td3"><a  class="sort" stype="sz">股票</a></li>
                        <li class="td4"><a  class="sort down" stype="time">主线板块</a></li>
                        <li class="td4"><a  class="sort down" stype="time">停复牌</a></li>
                        <li class="td4"><a  class="sort down" stype="time">游资标的</a></li>
                        <li class="td7">权重标的/及其位置/其他</li>
                    </ul>
                </li>
            </ul>
                <ul class="list" id="gpList">
                {% for x in u %}
                <li class="tr ops" aid="undefined">
                    <ul><li class="td1">
                            {{x.rose}}
                    </li>
                        <li class="td2" style="color: #61a0ff;">
                            <a  href="{{ url_for('topic1.delete2', id=x.id, token=token) }}">删除</a>
                        </li>
                        <li class="td3">
                            {{x.stock}}
                        </li>
                        <li class="td4">
                            {{x.section}}
                        </li>
                         <li class="td4">
                            {{x.status}}
                        </li>
                         <li class="td4">
                            {{x.stock2}}
                        </li>
                        <li class="td7">
                            {{x.policy}}
                        </li>
                    </ul>
                </li>
                {% endfor %}
                </ul>

        </section>
        <section class="content tab">
            <div class="listThCover"><span></span></div>
            <ul class="list">
                <li class="th">
                    <ul>
                         <li class="td1"><span>幅度</span></li>
                        <li class="td2">&nbsp</li>
                        <li class="td3"><a  class="sort" stype="sz">股票</a></li>
                        <li class="td4"><a  class="sort down" stype="time">主线板块</a></li>
                        <li class="td4"><a  class="sort down" stype="time">停复牌</a></li>
                        <li class="td4"><a  class="sort down" stype="time">游资标的</a></li>
                        <li class="td7">权重标的/及其位置/其他</li>
                    </ul>
                </li>
            </ul>
            <form class="form-horizontal" method="post" action="{{ url_for('.height_index') }}">
                <ul class="list" id="gpList">
                <li class="tr ops" aid="undefined">
                    <ul>
                        <li class="td1">
                        <input name="rose" class="text" type="text" value="幅度">
                        </li>
                        <li class="td2" style="color: #61a0ff;">
                         <input name="weight_name" class="text" type="text" value="" disabled>
                        </li>
                        <li class="td3">
                            <input name="stock" class="text" type="text" value="股票">
                        </li>
                        <li class="td4">
                            <input name="section" class="text" type="text" value="主线板块">
                        </li>
                         <li class="td4">
                            <input name="status" class="text" type="text" value="消息类型及容量">
                        </li>
                         <li class="td4">
                            <input name="stock2" class="text" type="text" value="游资标的">
                        </li>
                        <li class="td7">
                            <input name="policy" class="text1" type="text" value="其他">
                        </li>
                    </ul>
                </li>
                </ul>
                <div class="mb2">
                    <input type="submit" class="act-but submit" value="提交" id="btn_register">
                </div>
            </form>
        </section>
    </section>
</section>

<footer>    <div class="contain">        <p class="title">            <span class="item">关于我们</span>            <a href="/topic/instruction1">使用教程</a>            <span class="item">联系我们</span>            <a href="">联系方式</a>            <a href="">意见反馈</a>        </p>        <p class="copyright">Copyright ©2018  All Rights Reserved. 浙ICP备16009637号-3.</p>    </div></footer>
