<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0"><link rel="shortcut icon" href="../../static/topic/index/static/images/notebook_ico.ico" type="image/x-icon" />
    <title>复盘笔记本 - 使用说明</title>
    <meta name="keywords" content="复盘笔记本,行情平台,股市行情,今日股市行情">
    <meta name="description" content="复盘笔记本产品slogan">
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="stylesheet" href="../../static/topic/instruction/css/base.css">
    <link rel="stylesheet" href="../../static/topic/instruction/css/pagination.css">
    <link rel="stylesheet" href="../../static/topic/instruction/css/page.css">
    <link rel="stylesheet" href="../../static/topic/index/static/css/daterangepicker/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/topic/index/static/css/daterangepicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="../../static/topic/index/static/css/base.css">
    <link rel="stylesheet" href="../../static/topic/index/static/css/page.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
</head>
<body class="course article">
<div class="placeHeader"></div>
<header>
    <div class="logo"><img src="../../static/topic/index/static/images/notebook.png"><p>复盘笔记本</p><div class="clear"></div></div>
<ul class="menu">
    <li ><a href="/topic">建仓or清仓?(大盘异动)</a></li>
    <li ><a href="/topic1">换仓?(短期情绪)</a></li>
    <li><a href="/topic2">辅助工具</a></li>
    <li class="curMenu"><a href="/topic/instruction1">使用说明</a></li>
    </ul>
<ul class="account">
    <li><a href="/topic2/user">我的账户</a></li>
 <li><a href="/">退出</a></li>
</ul></header>
<section class="contain" id="main">
    <aside>
        <ul>
        <li class="menu1"><a href="/topic/instruction1">大纲流程图</a></li>
            <li class="menu2 curMenu"><a href="/topic/instruction2">是否建仓?</a></li>
            <li class="menu3"><a href="/topic/instruction3">建仓时间</a></li>
            <li class="menu4"><a href="/topic/instruction4">建仓标的</a></li>
        </ul>
    </aside>
    <section class="main" id="main">
        <div class="dateSelect">
            <span>使用说明</span>
        </div>
        <section class="content">
            <div style="text-align: center">
                <img src="../../static/topic/instruction/tool_images/是否建仓.png">

            </div>
        </section>
    </section>
</section>

<footer>    <div class="contain">        <p class="title">            <span class="item">关于我们</span>            <a href="/topic/instruction1">使用教程</a>            <span class="item">联系我们</span>            <a href="">联系方式</a>            <a href="">意见反馈</a>        </p>        <p class="copyright">Copyright ©2018  All Rights Reserved. 浙ICP备16009637号-3.</p>    </div></footer>
</body></html>